html {
  background-color: #F2F2F2
}

h1 {
  color: #646464;
  font-family: verdana;
  font-size: 60px;
  margin: 5px;
  text-align: center;
  border-bottom: 2px solid black;
}

h2 {
  color: #646464;
  font-family: verdana;
  font-size: 18px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border-top: 2px solid #A00000;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: justify;
  list-style: none;
  padding-left: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black ;
}

nav ul li a {
  color: #A00000;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

h3 {
  color: #646464;
  font-family: verdana;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
  border: solid 1px #A00000;
}

.skip-link {
  background: auto;
  color: #A00000;
  font-weight: 700;
  left: 20px;
  padding: 3px;
  position: relative;
  transform: translateY(-100%);
}

.skip-link:focus {
  transform: translateY(0%);
  transition: transform 0.3s;
}

p#thankyou {
  color: black;
  font-family: verdana;
  font-size: 40px;
  margin: 5px;
  text-align: center;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

figure img {
  width: 40%;
  height: auto;
  border: 15px solid #A00000;
  align-content: left;
  float: left;
}

figcaption {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 10px;
}

h4 {
  color: #ffffff;
  background: #A00000;
  padding: 20px;
  margin-bottom: 12px;
}

p {
  margin-bottom: 40px;
}
