h1#site-title {
  color: blue;
  font-family: verdana;
  font-size: 74px;
  margin: 15px;
  text-align: center;
}

h1#article-title {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 40px;
}

h2 {
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 48px;
}

.skip-link {
  background: #ffffff;
  color: #000000;
  font-weight: 700;
  left: 20px;
  padding: 3px;
  position: relative;
  transform: translateY(-100%);
}

.skip-link:focus {
  transform: translateY(0%);
  transition: transform 0.3s;
}

figure img {
  margin-bottom: 12px;
}

img {
  max-width: 100%;
  height: auto;
  min-width: 100%;
}

figure.main-image {
  background: LightBlue;
  border: 10px solid DarkBlue;
  color: #ffffff
  width: 100%;
}

@media all and (min-width: 768px) {
  figure.section-image {
    margin-bottom: 10px;
    max-width: 300px;
  }
}

figure.section-image.odd {
  float: right;
  margin-left: 10px;
}

figure.section-image.even {
  float: left;
  margin-right: 10px;
}

figure figcaption {
  font-size: 10px;
  color: white;
  background: black;
}

p {
  color: white;
  background: black;
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;
}

p img {
    width: 40%;
    height: auto;
    margin-left: 15px;
    margin-bottom: 15px;
}

nav ul {
  list-style: none;
  padding-left: 0;
  border-top: 1px solid DarkBlue;
  border-bottom: 1px solid DarkBlue;
}

@media all and (min-width= 376px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: justify;
  }
}

nav ul li {

}

nav ul li a {
  color: Blue;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 3px solid Blue;
  padding-bottom: 9px;
}
