h1 {
  color: blue;
  font-family: verdana;
  font-size: 74px;
  margin: 15px;
}

figure img {
  width: 440px;
  height: auto;
  border: 15px solid black;
  padding: 5px;
}

figure figcaption {
  font-size: 10px;
  color: white;
  background: black;
  width: 480px;
}

p {
  color: white;
  background: black;
  padding: 20px;
  max-width: 80%;
  margin: 10px;
}

p img {
  width: 40%;
  height: auto;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 35px;
  list-style: none;
  padding-left: 0;
  max-width: 80%;
  border-top: 1px solid DarkBlue;
  border-bottom: 1px solid DarkBlue;
}

nav ul li {

}

nav ul li a {
  color: Blue;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 3px solid Blue;
  padding-bottom: 9px;
}
